@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Bellefair&display=swap');

body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer utilities{
  
  .def{
    width: 100%;
    height: 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .bag-tab{
    background-image: url("./assets/background-home-tablet.jpg");
   
  }
  .bag-desk{
    background-image: url("./assets/background-home-desktop.jpg");
  }
  .bag-mob{
    background-image: url("./assets/background-home-mobile.jpg");
  }
  /*Destination walpapers*/
  .bag-dest-desk{
    background-image: url("./assets/background-destination-desktop.jpg");
  }
  .bag-dest-tab{
    background-image: url("./assets/background-destination-tablet.jpg");
}
  .bag-dest-mob{
    background-image: url("./assets/background-destination-mobile.jpg");
  }
  /*Crew walpapers*/
  .bag-crew-desk{
    background-image: url("./assets/background-crew-desktop.jpg");
  }
  .bag-crew-tab{
    background-image: url("./assets/background-crew-tablet.jpg");
  }
  .bag-crew-mob{
    background-image: url("./assets/background-crew-mobile.jpg");
  }
  /*Technology backs*/
  .bag-tech-desk{
    background-image: url("./assets/background-technology-desktop.jpg");
  }
  .bag-tech-tab{
    background-image: url("./assets/background-technology-tablet.jpg");
  }
  .bag-tech-mob{
    background-image: url("./assets/background-technology-mobile.jpg");
  }
  .marg-8{
    padding-left: 2rem/* 32px */;
    padding-right: 2rem/* 32px */;
  }
}
.barlow{
  font-family: 'Barlow Condensed', sans-serif;
}

.belle{
  font-family: 'Bellefair', serif;
}
.bord{
  border: 2px solid gray;
}
.rotat{
  animation: rotateImg 8s linear infinite;
}
@keyframes rotateImg{
  from {
    transform: rotate(0deg);
   }
  to {
   transform: rotate(359deg);
  }
}
/* .active{
  border-bottom: solid 5px white;
} */